<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSConnect">
        <activity
            android:name=".OpenReview"
            android:exported="false"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".ReviewsHome"
            android:exported="false"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".ShowContest"
            android:exported="false"
            android:label="Contests"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".addNewContest"
            android:exported="false"
            android:label="Contests"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".ContestHome"
            android:exported="false"
            android:label="Contests"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".CollegeForumAddAnswer"
            android:exported="false"
            android:label="Forum"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".CollegeForumOpenQuestion"
            android:exported="false"
            android:label="Forum"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".AddCollegeForumQuestion"
            android:exported="false"
            android:label="Forum"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".CollegeForum"
            android:exported="false"
            android:label="Forum"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:label="Home"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>